/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) { 
}
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) { 
   
 }

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) { 
   
 }


/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
    
 }
 
 @media(max-width:991.98px) {
    /* mobile responsive navigation */
.btn-bar, .close{
    display: block;
}
.header-nav ul .close {
    position: absolute;
    right:24px;
    top: 7px;
}
.header-nav ul{
    padding-left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    position: absolute;
    top:0;
    left: 0;
    height: 100vh;
    width:320px;
    background: #ef6603;
    transition: .5s all ease-in-out;
    
}
.header-nav ul li{  
    width: 100%;
}
.header-nav ul li:hover{
    background: darkblue;
}
    
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) and (max-width: 1399.98px) { 
   
 }

 /* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) { 

 }